<ion-header>
  <ion-navbar>
    <ion-title>Tareas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-fab top right >
    <button ion-fab color="vibrant" mini (click)="addtask()"><ion-icon name="add"></ion-icon></button>
    
</ion-fab>

<ion-list>
    
  <ion-item-group>
        <ion-item-divider color="danger">Pendientes</ion-item-divider>
    <ion-item-sliding *ngFor="let task of bdtask">
 
          <ion-item>
              {{task.title}}
          </ion-item>

          <ion-item-options>
              <button ion-button icon-only (click)="editTask(task)" light>
                  <ion-icon name="ios-create"></ion-icon>
              </button>
              <button ion-button icon-only (click)="deleteTask(task)" danger>
                  <ion-icon name="trash"></ion-icon>
              </button>
              <button ion-button icon-only (click)="successfulTask(task)" danger>
                  <ion-icon name="checkmark-circle"></ion-icon>
              </button>
          </ion-item-options>

      </ion-item-sliding>
      </ion-item-group>

 

  <ion-item-group>
  <ion-item-divider color="secondary">Realizadas</ion-item-divider>
  <ion-item-sliding *ngFor="let task of bdtask2">
      <ion-item>
          {{task.title}}
      </ion-item>

      <ion-item-options>
          
          <button ion-button icon-only (click)="deleteTaskSuccess(task)" danger>
              <ion-icon name="trash"></ion-icon>
          </button>
          
        </ion-item-options>
  </ion-item-sliding>

</ion-item-group>

</ion-list>


</ion-content>
